.word-container {
  line-height: 2rem;
}

.word {
  border: 2px solid lightpink;
  padding: 2px;
  box-sizing: border-box;
  padding: 0.2rem;
  border-radius: 10px;
  margin: 0.3rem;
}

.word::after {
  content: "✅";
}
